* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #BEBEBE;
	font-family: 'Open Sans', Arial, sans-serif;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 26px;
}

section {
}

/* ipad portrait  : 768  x 900 */
/* ipad landscape : 1024 x 644 */
article {
	width: 1000px;
	height: 610px;
	margin-top: -345px;
	margin-left: -540px;

	border-radius: 40px;
	background-color: #FFFFFF;
	padding: 40px 40px;
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;

	-webkit-font-smoothing: antialiased;

	transition: transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-webkit-transition: -webkit-transform .3s ease-out;
}

@media screen and (orientation: portrait) {
	article {
		width: 768px;
		height: 920px;
		margin-top: -500px;
		margin-left: -424px;
	}
}

@media screen and (orientation: landscape) {
	article {
		width: 1000px;
		height: 610px;
		margin-top: -345px;
		margin-left: -540px;
	}
}

.far-past {
	display: block;
	transform: translate(-2300px);
	-o-transform: translate(-2300px);
	-moz-transform: translate(-2300px);
	-webkit-transform: translate3d(-2300px, 0, 0);
}

.past {
	display: block;
	transform: translate(-1150px);
	-o-transform: translate(-1150px);
	-moz-transform: translate(-1150px);
	-webkit-transform: translate3d(-1150px, 0, 0);
}

.current {
	display: block;
	transform: translate(0px);
	-o-transform: translate(0px);
	-moz-transform: translate(0px);
	-webkit-transform: translate3d(0px, 0, 0);
}

.next {
	display: block;
	transform: translate(1150px);
	-o-transform: translate(1150px);
	-moz-transform: translate(1150px);
	-webkit-transform: translate3d(1150px, 0, 0);
}

.far-next {
	display: block;
	transform: translate(2300px);
	-o-transform: translate(2300px);
	-moz-transform: translate(2300px);
	-webkit-transform: translate3d(2300px, 0, 0);
}

h1 {
	margin-top: 150px;
	margin-bottom: 10px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 500;
}

h2 {
	margin-top: 350px;
	margin-bottom: 10px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 40px;
	line-height: 40px;
	font-weight: 500;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 26px;
	line-height: 36px;
}

pre {
	margin-top: 10px;
	font-family: 'Droid Sans Mono', 'Courier New', monospace;
	color: black;
	tab-size: 2;
}

.presenter {
	font-size: 28px;
	line-height: 1.2em;
}

ul {
	margin-top: 10px;
}

li {
	margin-left: 30px;
}

.number {
	position: absolute;
	bottom: 40px;
	right: 40px;
}

a {
	color: #375EAB;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
